{% extends 'core/base.html' %}
{% block title %}Home{% endblock title  %}
{% block main_content %}

<section class ="container">

    <div class="row">
        <div class="col-sn-8">
            <h3>
                CRUD Project in Django
            </h3>

        </div>

    </div>
    <div class="row justify-content-around mt-3">
    <div class="col-sm-8">
            <a href="{% url 'add' %}" class="btn btn-primary float-end">Add</a>
    </div>    
    </div>
    
    <div class="row justify-content-around  text-white mt-1">
        <div class="col-sn-8">
            <table class="table table-dark table-striped">
                <thead>
                
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">FirstName</th>
                      <th scope="col">LastName</th>
                      <th scope="col">Phone</th>
                      <th scope="col">HireDate</th>
                      <th scope="col">Job</th>
                      <th scope="col">Attendance</th>
                      <th scope="col">Task</th>
                    </tr>
    
                </thead>
                <tbody>
                {% for emp in empdata %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{emp.firstName}}</td>
                    <td>{{emp.lastName}}</td>
                    <td>{{emp.phone}}</td>
                    <td>{{emp.hireDate}}</td>
                    <td>{{emp.job}}</td>
                    <td>{{emp.markAttendance}}</td>
                    <td>{{emp.task}}</td>
                </tr>
                {% endfor %}    
                    {% comment %} <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td colspan="2">Larry the Bird</td>
                      <td>@twitter</td>
                    </tr> {% endcomment %}
                </tbody>  
            </table>

        </div>

    </div>
    
        

   
</section>

{% endblock main_content %}